/* HOMEPAGE */
#about-us {
    margin-top: 51px;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url(../img/about-us-bg.jpg);
}

#about-us-title {
    padding-bottom: 50px;
}

#contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer {
    padding: 25px 0;
    text-align: center;
}

/* LOGIN PAGE */
#login-form {
    padding-top: 250px;
}

#login-form-img {
    text-align:center;
}